<div class="container">
  <div class="alert alert-danger" ng-show="error!=undefined">
    <button type="button" class="close" ng-click="error=undefined"><span>&times;</span>
    </button>
    {{error}}
  </div>
  <navigation></navigation>
  <div class="jumbotron">
    <p class="lead">
      {{eventlist}}
      <!-- TABLE -->
      <div class="table-responsive">
        <table class="table table-condensed table-hover compact-table">
          <thead>
            <tr>
              <td ng-repeat="key in keys(events[0]) | filter:'!$$' "> <small><strong>{{key}}</strong></small> </td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in events" class="table-danger">
              <td ng-repeat="key in keys(item)| filter:'!$$'">
                <div ng-switch on="key">
                  <!-- <small ng-switch-when="Classification"> {{ item[key] }}</small> -->
                  <small ng-switch-when="Started"> {{ item[key] | date:'hh:mm:dd' }}</small>
                  <small ng-switch-when="Ended"> {{ item[key] | date:'hh:mm:dd' }}</small>
                  <small ng-switch-when="Duration"> {{ item[key] | date:'dd:ss' }}</small>
                  <small ng-switch-when="Classification"> 
                    <span ng-if="item[key]==1" class="label label-success">GOOD</span>
                    <span ng-if="item[key]==2" class="label label-success">BAD</span>
                  </small>
                  <a ng-switch-when="Samples" ng-href="#/samples?id={{item[key]}}"> <span class="glyphicon glyphicon-signal" aria-hidden="true"></span></a>
                  <small ng-switch-default> {{ item[key] }}</small>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </p>
  </div>
</div>
