<div class="container">
  <div class="alert alert-danger" ng-show="error!=undefined">
    <button type="button" class="close" ng-click="error=undefined"><span>&times;</span>
    </button>
    {{error}}
  </div>
  <navigation></navigation>
  <div class="jumbotron">
    <p class="lead">
      <!-- No Events -->
      <div ng-if="events.length == 0"=>
          <h5>No events available</h5>
      </div>
      <!-- TABLE -->
      <div ng-if="events.length > 0" class="table-responsive">
        <table class="table table-condensed table-hover compact-table">
          <thead>
            <tr>
              <td><small><strong>Row</strong></small></td>
              <td ng-repeat="key in keys(events[0]) | filter:'!$$' "> <small><strong>{{key}}</strong></small> </td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in events | orderBy: '-Started'" >
              <td> <small>{{$index}}</small></td>
              <td ng-repeat="key in keys(item)| filter:'!$$'">
                <div ng-switch on="key">
                  <!-- <small ng-switch-when="Classification"> {{ item[key] }}</small> -->
                  <small ng-switch-when="Started"> {{ item[key] | date:'medium' }}</small>
                  <small ng-switch-when="Ended"> {{ item[key] | date:'medium' }}</small>
                  <small ng-switch-when="Duration"> {{ item[key] }} sec</small>
                  <small ng-switch-when="Classification">
                    <span ng-if="item[key]==1" class="label label-success">GOOD</span>
                    <span ng-if="item[key]==2" class="label label-danger">BAD</span>
                  </small>
                  <a ng-switch-when="Samples" ng-href="#/samples?id={{item[key]}}"> <span class="glyphicon glyphicon-signal" aria-hidden="true"></span></a>
                  <small ng-switch-when="Image">
                    <a ng-href="{{computeDownloadUrl(item[key])}}"><span ng-if="item[key].length > 0" class="glyphicon glyphicon-camera" aria-hidden="true"></span></a>
                  </small>
                  <small ng-switch-default> {{ item[key] }}</small>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </p>
  </div>
</div>
