<div class="container">
  <div class="alert alert-danger" ng-show="error!=undefined">
    <button type="button" class="close" ng-click="error=undefined"><span>&times;</span>
    </button>
    {{error}}
  </div>
  <navigation></navigation>
  <div class="jumbotron">
    <!-- {{details}} {{filter}} -->
    <p class="lead">
      <!-- TABLE -->
      <!-- <h5>Camera 1</h5> -->
      <c3chart bindto-id="chart" chart-data="datapoints" chart-columns="datacolumns" chart-x="datax">
        <!--        <chart-grid-optional axis-id="y" grid-value="{{filter.requiredMean}}" grid-text="RequiredMean" />
       <chart-grid-optional axis-id="y" grid-value="{{filter.requiredConfidenceForMean}}" grid-text="requiredConfidenceForMean" /> -->
      </c3chart>
      <!--       <c3chart bindto-id="chart1">
        <chart-grid-optional axis-id="y" grid-value="78" grid-text="Threshold" />
        <chart-grid-optional axis-id="x" grid-value="8" grid-text="Qualified" />
        <chart-column column-id="background" column-color="orange" column-values="samples.background" column-type="line" />
        <chart-column column-id="good" column-color="darkgreen" column-values="samples.good" column-type="line" />
        <chart-column column-id="bad" column-color="red" column-values="samples.bad" column-type="line" />
        <chart-column column-id="background" column-color="orange" column-values="90,0,0,0,0,0,0,0,0,0" column-type="line" />
        <chart-column column-id="good" column-color="darkgreen" column-values="0,89,87,86,75,70,0,0,0,90" column-type="line" />
        <chart-column column-id="bad" column-color="red" column-values="0,0,0,0,0,0,86,81,90,0" column-type="line" />
      </c3chart> -->
    </p>
    <dl class="dl-horizontal">
      <dt>Classification Id</dt>
      <dd>{{details.classification.id}}</dd>
      <dt>Classification Frame</dt>
      <dd>{{details.classification.frame}}</dd>
      <dt>Frames in a row</dt>
      <dd>{{details.filter.framesInARow}}</dd>
      <dt>Required mean</dt>
      <dd>{{details.filter.requiredMean * 100 | number:0}}</dd>
      <dt>Confidence for mean</dt>
      <dd>{{details.filter.requiredConfidenceForMean * 100 | number:0}}</dd>
    </dl>
  </div>
</div>
